.nav_link{
  font-weight: 600;
  margin: 0 15px;
  text-decoration: none;
  color: #0d0d0d;
  &:hover{
    @extend .active
  }
}

.active{
  text-decoration:underline;
  color: #00CED1;
  cursor: pointer;
}

